<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>

<p>
  <a href="<%= @message.url  %>"><%= @message.url  %></a>
</p>

<p>
  Created at: <%= @message.created_at  %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>

</p>